<%- include('./partials/header') %> 
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New message</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
            <div class="modal-body">
                <form action="/crud/update" method="post">
                    <div class="mb-3">
                    <label for="recipient-name" class="col-form-label">Id:</label>
                    <input type="text" class="form-control" id="recipient-name" name="id">
                    </div>
                    <div class="mb-3">
                    <label for="message-text" class="col-form-label">Title: </label>
                    <textarea class="form-control" id="message-text" name="title"></textarea>
                    </div>
                    <div class="mb-3">
                    <label for="message-text" class="col-form-label">Desc: </label>
                    <textarea class="form-control" id="message-text" name="desc"></textarea>
                    </div>
                    <input type="submit" class="btn btn-primary"></input>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>  
            </div>
      </div>
    </div>
  </div>

    <div class="top">
        <h1> Enter a task: </h1>
        <form action="crud/add" method="POST">
            <label for="title" class="input">Title: </label>
            <input type="text" placeholder="Title" id="title" name="title">

            <label for="desc" class="input">Description: </label>
            <textarea id="desc" cols="30" rows="10" placeholder="Describe your task" name="desc"></textarea>

            <input type="submit" value="Add">
        </form>
    </div>

    <% if (data.length > 0) { %>
        <br>
        <hr>
        <h1 class="heading"> My tasks </h1>
        <div class="task">
            <% data.forEach(element => { %>
                <!-- Task member -->
                <div class="taskMember">
                    <h1> <%= element.title %></task> </h1>
                    <p class="desc"> <%= element.desc.substr(0 , 10) %> <a href="/tasks/<%=element.id%>">...read more</a></p>
                    <form action="/crud/markRead" method="post" class="buttonForm">
                        <input type="hidden" name="id" value="<%= element.id %>">
                        <% if ( !element.status) { %>
                            <button class="btn blue" type="submit"> Mark read </button>
                        <% }else{ %>
                            <button class="btn blue" type="submit" disabled> Done reading </button>
                        <% } %>
    
                        <button formaction="/crud/delete" class="btn red" type="submit"> Delete </button>
                        <!-- <button formaction="/crud/update" class="btn green" type="submit"> Update </button> -->
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="<%= element.id %>">update</button>
                    </form>
                </div>
            <% }); %>
            
        </div>
    <% } %>

    <script>
            var exampleModal = document.getElementById('exampleModal')
            exampleModal.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-* attributes
            var recipient = button.getAttribute('data-bs-whatever')
            // If necessary, you could initiate an AJAX request here
            // and then do the updating in a callback.
            //
            // Update the modal's content.
            var modalTitle = exampleModal.querySelector('.modal-title')
            var modalBodyInput = exampleModal.querySelector('.modal-body input')

            modalTitle.textContent = 'Updating ' + recipient
            modalBodyInput.value = recipient
            });
    </script>


 <%- include('./partials/footer') %> 